# Downloaded datasets
data/raw/**/*.zip
data/raw/**/train/
data/raw/**/valid/
data/raw/**/test/

# Generated datasets and training outputs
data/interim/**
!data/interim/.gitkeep
data/processed/**
!data/processed/images/
!data/processed/images/train/
!data/processed/images/train/.gitkeep
!data/processed/images/val/
!data/processed/images/val/.gitkeep
!data/processed/images/test/
!data/processed/images/test/.gitkeep
!data/processed/labels/
!data/processed/labels/train/
!data/processed/labels/train/.gitkeep
!data/processed/labels/val/
!data/processed/labels/val/.gitkeep
!data/processed/labels/test/
!data/processed/labels/test/.gitkeep
models/**
!models/.gitkeep
!models/forklift_yolo11n_quick_best.pt
!models/forklift_yolo11s_multivideo_best.pt
runs/**
!runs/.gitkeep
